
<div class="side-navbar active-nav d-flex justify-content-between flex-wrap flex-column" id="sidebar">
    <ul class="nav flex-column text-white ">
        <button><span>Sidebar</span></button>
     
      <li href="#" class="nav-link">
        <span class="mx-2" routerLink="">Home</span>
      </li>
      <li href="#" class="nav-link">
        <span class="mx-2" routerLink="viewempform">View  Details</span>
      </li>
      <li href="#" class="nav-link">
        <span class="mx-2" routerLink="viewempdata/:id">View  Data</span>
      </li>
      <li href="#" class="nav-link">
        <span class="mx-2">Services</span>
      </li>
      <li href="#" class="nav-link">
        <span class="mx-2">Contact Us</span>
      </li>
    </ul>
  </div>
