.side-navbar {
    
    height: auto;
   text-align: center;
    margin-left: -300px;
    transition: 0.5s;

  }
  .nav-link:active,
  .nav-link:focus,
  .nav-link:hover {
    background-color: #3e3a3a26;
    cursor: pointer;
  }
  .my-container {
    transition: 0.4s;
  }
  .active-nav {
    margin-left: 0;
  }
  /* for main section */
  .active-cont {
    margin-left: 180px;
  }
  #menu-btn {
    background-color: #100901;
    color: #fff;
    margin-left: -62px;
  }
  .nav-link{
    color: #100901;
    font-size: 18px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 450;
  }
  



  button {
    border-radius: 4px;
    background-color: #5ca1e1;
    border: none;
    border-radius: 50px;
    color: #fff;
    text-align: center;
    font-size: 32px;
    padding: 1px;
    width: 220px;
    height: 50px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 36px;
    box-shadow: 0 10px 20px -8px rgba(0, 0, 0,.7);
  }
  
  button{
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  button:after {
    content: '»';
    position: absolute;
    opacity: 0;  
    top: 2px;
    right: -15px;
    transition: 0.5s;
  }
  
  button:hover{
    padding-right: 15px;
    padding-left:8px;
  }
  
  button:hover:after {
    opacity: 1;
    right: 8px;
  }