i{
    font-size: 1.5rem;
    padding-top: 4px;
    padding-left: 12px;
    margin-left: 20px;
}
.fa-facebook:hover{
    color:blue;
}
.fa-instagram:hover{
    color: red;
}
.fa-github:hover{
    color:violet
}
.fa-twitter:hover{
    color:rgb(89, 172, 224)
}