<div class="row">
    <div class="col col-xl-4 col-md- col-sm-4 "></div>
    <div class="col col-xl-6 col-md-6 col-sm-6 col-lg-6">
<div class="card" style="width: 18rem;">
    <img class="card-img-top" src="https://cdn.pixabay.com/photo/2020/07/14/13/07/icon-5404125_1280.png" alt="Card image cap">
    <div class="card-body">
      <h5 class="text-center">Employee Data</h5>
      <div class="icon">
        <i class="fa-brands fa-facebook"></i>
        <i class="fa-brands fa-instagram"></i>
        <i class="fa-brands fa-github"></i> 
        <i class="fa-brands fa-twitter"></i>
        
      </div>
     
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">Name:-{{employeedata.fullname}}</li>
      <li class="list-group-item">Email:-{{employeedata.email}}</li>
      <li class="list-group-item">Contact No.:-{{employeedata.mobileno}}</li>
      <li class="list-group-item">DOB:-{{employeedata.dob}}</li>
      <li class="list-group-item">Post:-{{employeedata.Post}}</li>
      
    </ul>
    <div class="card-body">
      <a href="#" class="card-link" routerLink=""><button class="btn bg-primary">&laquo; Back</button></a>
     
    </div>
  </div>
    </div>
</div>